@font-face {
    font-family: 'font-name';
    src: url('font-path') format('woff2');
    font-weight: 'font-weight-in-number';
    font-style: 'font-style-like-normal-italic';
    font-display: 'font-display-like-swap-optional-fallback';
}